<main class="container">
    <h1 class="text-start h6">Chat</h1>
        <hr>
    <div class=" containerChat">
        <ul id="messages"></ul>
        <form id="messageForm" class="message-form ">
            <div class="email-container">
                <input id="email" type="email" value="{{user.email}}" placeholder="Enter your email" autocomplete="off">
            </div>
            <div class="message-input-container">
                <input id="m" autocomplete="off" placeholder="Enter your message" class="message-input" />
                <button type="submit" class="btn1">►</button>
            </div>
        </form>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>