.productsMain {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Estilos para filtados */
aside button {
    background-color: rgb(255, 223, 119);
    width: 70%;
    border: none;
    color: white;
    text-transform: uppercase;
}

aside button:hover {
    background-color: rgb(212, 175, 55);
}

aside {
    font-size: 12px;
    text-transform: uppercase;
}

.pagiante {
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
}

.pagiante a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.2s ease;
    font-size: 12px;
}

.toastify {
    padding: 15px 20px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
}

/* products list */
#products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#products-list li {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width:500px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075);
}

#products-list .cardDetail {
    padding: 10px;
    text-align: left;
    width: 100%;
    padding-bottom: 25px;
}

#products-list .cardDetail h2,
#products-list .cardDetail h3,
#products-list .cardDetail h4 {
    margin: 5px 0;
}

#products-list .cardDetail h2 {
    text-transform: uppercase;
}

/* Styling for the buy button and details link */
#products-list .btnBuyDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #fff;
}

/* Ensure button and link have a consistent look */
#products-list .btnBuyDetail .btnAdd,
#products-list .btnBuyDetail .btnDetail a {
    display: inline-block;
    padding: 1px 10px;
    background-color: rgb(255, 223, 119);
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    min-width: 80px;
}

#products-list .btnBuyDetail .btnAdd:hover,
#products-list .btnBuyDetail .btnDetail a:hover {
    background-color: rgb(212, 175, 55);
}

#products-list .btnBuyDetail .btnAdd {
    margin-right: 10px;
}

#products-list .btnBuyDetail .btnDetail a {
    background-color: rgb(255, 223, 119);
}

#products-list .btnBuyDetail .btnDetail a:hover {
    background-color: rgb(212, 175, 55);
}

#products-list img {
    margin-top: 60px;
    padding-bottom: 60px;
}


#products-list h3 {
    color: rgb(168, 168, 168);
    font-size: 12px;
    text-transform: uppercase;
}

#products-list .cardDetail {
    padding: 5px;
    color: rgb(0, 0, 0);

}

.cart-detail-button {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    #products-list .col {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    #products-list .col {
        flex: 1 1 100%;
    }
}
