#products-list li {
    width: auto;
    text-align: center;
    list-style: none;
    margin: 15px;
    padding: 0px;
}

.realTimeProducts {
    display: grid;
    grid-template-columns: 70% 30%;
}

.realTimeProducts ul {
    padding: 20px;
}

.operateProducts {
    position: fixed;
    top: 130px;
    right: 40px;
    width: 25%;
    margin-top: 0;
}
.operateProducts button {
    margin-top: 10px;
}

#email {
    display: none;
}